<section class="titles">
    <h2>Tabla de valor energético</h2>
</section>

<section class="info-section">
    <h4><strong>¿Para qué sirve la tabla de valor energético?</strong></h4>
    <br>
    <p><i>
          Nos sirve para obtener el valor energético de cada macronutriente 
          de un alimento, dando como resultado la cantidad de calorías que posee.
    </i></p>

    <p>
        Supongamos que tenemos un alimento que contiene 
        5gr de proteína, 3gr de lípidos(grasas), 15gr de carbohidratos (C.H.O):
    </p>    
</section>
<section>
    <div class="table">
        <table>
            <tr>
                <th><strong>Macro nutriente</strong></th>
                <th>Gramos</th>
                <th>Calorias por gramo</th>
                <th>Aporte total kcal por gramo</th>
            </tr>
            <tr>
                <td>Proteínas</td>
                <td>5gr.</td>
                <td><strong>4</strong></td>
                <td>20 kcal</td>
            </tr>
            <tr>
                <td>Lípidos</td>
                <td>3gr.</td>
                <td><strong>9</strong></td>
                <td>27 kcal</td>
            </tr>
            <tr>
                <td>CHO</td>
                <td>15 gr.</td>
                <td><strong>4</strong></td>
                <td>60 kcal</td>
            </tr>
            <tr>
                <td colspan="3"><strong>TOTAL:</strong></td>
                <td class="yellow">107 kcal</td>
            </tr>
        </table>
    </div>
</section>

<section>
    <h1 style="text-align: center;"><strong>Calcula calorias de tu alimento:</strong></h1>
</section>
<hr>
<section>
    <div class="table ">
        <table>
            <tr>
                <th><strong>Macro nutriente</strong></th>
                <th>Gramos</th>
                <th>Calorias por gramo</th>
                <th>Aporte total kcal por gramo</th>
            </tr>
            <tr>
                <td>Proteínas</td>
                <td>
                    <input type="number" name="grp" id="grp">
                </td>
                <td><strong>4</strong></td>
                <td class="rp"> -- </td>
            </tr>
            <tr>
                <td>Lípidos</td>
                <td>
                    <input type="number" name="grl" id="grl">
                </td>
                <td><strong>9</strong></td>
                <td class="rl"> 0 </td>
            </tr>
            <tr>
                <td>CHO</td>
                <td>
                    <input type="number" name="grc" id="grc">
                </td>
                <td><strong>4</strong></td>
                <td class="rc"> 0 </td>
            </tr>
            <tr>
                <td colspan="3"><strong>TOTAL:</strong></td>
                <td class="yellow total"> 0 </td>
            </tr>
        </table>
    </div>
</section>