<section class="prlx">
    <div class="msg">
        <h2><span>¡Bienvenido!</span></h2>
        <h4><i>Aquí podrás calcular tu índice de masa corporal, saber tu gasto calorico según mets e información adicional</i></h4> 
    </div>   
</section>
<br>
<section class="introduction">
    <p><i>
        Cada día, los casos de obesidad van en aumento. Esto se debe principalmente al
        sedentarismo, mala alimentación, ansiedad y malos hábitos como consecuencia 
        del sistema de vida acelerado y sobrecargado, lleno de estímulos, como, por ejemplo
        el consumo de las redes sociales con fin recreativo (que hace que perdamos o 
        utilicemos mucho de nuestro tiempo destinado a su uso) o la alta carga de trabajo, 
        ya sea en nuestros empleos como en los estudios o en muchas ocasiones, en ambas. Esto 
        reduce el tiempo que necesitamos para realizar una pausa tanto física como mental, 
        de tener tiempo para realizar una actividad extra, como por ejemplo el ejercicio físico,
        el preparar un buen almuerzo, interactuar de manera directa con personas o simplemente
        para tener espacio para uno mismo. 
    </i></p>
    <br>
    <p><i>
        En definitiva, llevar una vida sana en estos tiempos, no resulta una tarea fácil. Es por 
        ello que esta web está destinada para poder llevar un control de nuestro estado nutricional,
        así como también saber si estamos consumiendo de buena manera nuestra energía. De este modo
        podremos obtener un registro de nuestro estado y poder actuar, ya sea yendo a un nutricionista, 
        médico o gym, básicamente, tomar medidas para mejorar nuestra salud.
    </i></p>
</section>